<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #20B2AA;
    color: black;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 20px
}

.header__title {
    margin: 0;
}

    </style>
</head>
<body>
        <header class="header">
        <h1 class="header__title">Sathya Technology</h1>
    </header>

</body>
</html>