{% extends 'common.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .navbar {
    background-color:#FAFAD2;
    padding: 10px 20px;
}
        .div{
            font-size: 20px;
            text-align:center;

        }
    </style>
</head>
<body>
    <div class="div">
        <nav class="navbar">
    <a href="/register/" class="navbar__link">Register</a>&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="#login" class="navbar__link">Login</a>&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="#contact" class="navbar__link">Contact</a></div>
</nav>
</body>
</html>
{% endblock  %}