<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h1{
            display : flex;
        }
    </style>
</head>
<body>
    <h1 align="center">Sathya Technologies</h1>
    <hr>
    <div class="h1">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<h1><a href="{% url 'register' %}">Register</a></h1>&emsp;&emsp;&emsp;&emsp;
        <h1><a href="{% url 'login' %}">Login</a></h1>&emsp;&emsp;&emsp;&emsp;
        <h1><a href="{% url 'about' %}">About</a></h1>&emsp;&emsp;&emsp;&emsp;
        <h1><a href="{% url 'contact' %}">Contact</a></h1>
    </div>
</body>
</html>