<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
            <legend>Register her</legend>
            <form>
            <table>


            <tr>
                <th>Username:</th>
                <th><input Type="text" ><br></th>
            </tr>
            <tr>
                <th> Password:</th>
                <th><input type="password"></th>

            </tr>
            <tr>
                <th> Confirm Pwd:</th>
                <th><input  type="text"></th>
            </tr>
            <tr>
                <th>Phno</th>
                <th><input  type="text"></th>
            </tr>
            <tr>
                <th>Email Id</th>
                <th><input  type="email"></th>
            </tr>
            <tr>
                <th>
                    Gender
                </th>
                <th>
                    <input type="radio" name="gender">Male &emsp;<input type="radio" name="gender">Female &emsp;
                </th>
            </tr>
            <tr>
                <th>Qualification</th>
                <th><input type="checkbox">MCA&nbsp;&nbsp;<input type="checkbox">Btech<br>
                    <input type="checkbox">Mtech &nbsp;<input type="checkbox">Msc </th>
            </tr>
            <tr>
                <th>Country</th>
                <th><select>
                    <option>
                        America
                    </option>
                    <option>
                        Africa
                    </option>
                    <option>
                        india
                    </option>
                </select></th>
            </tr>




            </form>
        </fieldset>


</body>
</html>