<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form  method="POST">
    {% csrf_token %}
        <h1>Enter A: <input type="text" value="{{ a }}" name="a"></h1>
        <h1>Enter B: <input type="text" value="{{ b }}" name="b"></h1>
        <h1>A+B: <input type="text" value="{{ add }}" ></h1>
        <h1>A-B: <input type="text" value="{{ sub }}" ></h1>
        <h1>A*B: <input type="text" value="{{ mul }}" ></h1>
        <h1>A/B: <input type="text" value="{{ div }}" ></h1>
        <input type="submit" value="Add" formaction="{% url 'add'%}">
        <input type="submit" value="Subtract" formaction="{% url 'sub'%}">
        <input type="submit" value="Multiply" formaction="{% url 'mul'%}">
        <input type="submit" value="Divide" formaction="{% url 'div'%}">
</form>