<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1 align="center">Details</h1>
        <table border="2" align="center">

                <tr>
                    <th>Emp Id</th>
                    <th>Emp Name</th>
                    <th>Emp Sal</th>
                    <th>Update Details </th>
                    <th>Delete Details</th>
                </tr>



                <tr>
                    {% for i in details %}
                    <th>{{ i.idno }}</th>
                    <th>{{ i.name }}</th>
                    <th>{{ i.salary }}</th>
                    <th><a href="{% url 'update' i.idno %}">Update</a></th>
                    <th><a href="{% url 'delete' i.idno %}">Delete</a></th>

                </tr>
            {% endfor %}


        </table>
        <form action="{% url 'register'%}">
            <h1 align="center"><input type="submit" value="Insert Records" ></h1>
        </form>
</body>
</html>