{% include 'header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <div id="login">
            <table align="center">

            <tr>
                <th>Username:</th>
                <th><input type="text"></th>
            </tr>
            <tr>
                <th> Password:</th>
                <th><input type="text"></th>
            </tr>

     </table></div><br>
    <center><div id="logbtn">&emsp;&emsp;&emsp;<input type="submit" VALUE="login"  align="center"  ></center></div>
    </form></div>
</body>
</html><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html'%}